@page "/"

@inject IJSRuntime js


<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />



<button @onclick="click" >chiudi</button>

@code{
    void click()
        {
        js.InvokeVoidAsync("window.close");
        }
}